<header class="relative overflow-hidden h-48">
  <!-- Fondo SVG full-bleed -->
  <svg
    class="absolute inset-0 w-full h-full pointer-events-none"
    viewBox="0 0 1440 490"
    preserveAspectRatio="none"
    aria-hidden="true"
  >
    <defs>
      <linearGradient id="gradient" x1="0%" y1="53%" x2="100%" y2="47%">
        <stop offset="5%" stop-color="#00c854" />
        <stop offset="95%" stop-color="#00b8db" />
      </linearGradient>
    </defs>
    <path
      d="M 0,500 L 0,262 C 117.33333333333331,268.5333333333333 234.66666666666663,275.06666666666666 411,246 C 587.3333333333334,216.93333333333334 822.6666666666667,152.26666666666665 1004,124 C 1185.3333333333333,95.73333333333333 1312.6666666666665,103.86666666666667 1440,112 L 1440,500 L 0,500 Z"
      fill="url(#gradient)"
      transform="rotate(-180 720 250)"
    />
  </svg>

  <!-- Contenido de la navbar -->
  <div class="relative">
    <div class="navbar bg-transparent">
      <!-- Si quieres centrar y limitar el contenido, usa container -->
      <div class="container mx-auto flex px-5 py-5">
        <div class="flex-1">
          <img class="w-25" src="cirsublogo.png" alt="">
        </div>
        <div class="flex-none">
          <ul class="menu menu-horizontal px-1">
            <li><a>Item 1</a></li>
            <li><a>Item 2</a></li>
            <li><a>Item 3</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>


